RewriteEngine On
IndexIgnore .htaccess
Options -Indexes

RewriteRule ^admin$ index.php?acp=1&pagina=acasa
RewriteRule ^admin/$ index.php?acp=1&pagina=acasa

RewriteRule ^admin/([^/]+)/$ index.php?acp=1&pagina=$1
RewriteRule ^admin/([^/]+)$ index.php?acp=1&pagina=$1

RewriteRule ^admin/([^/]+)/pagina-([^/]+)/$ index.php?acp=1&pagina=$1&nr-pagina=$2
RewriteRule ^admin/([^/]+)/pagina-([^/]+)$ index.php?acp=1&pagina=$1&nr-pagina=$2

RewriteRule ^admin/banip/([^/]+)/$ index.php?acp=1&pagina=banip&ip_ban=$1
RewriteRule ^admin/banip/([^/]+)$ index.php?acp=1&pagina=banip&ip_ban=$1

RewriteRule ^admin/parola-pierduta/([^/]+)/$ index.php?acp=1&pagina=parola-pierduta&cod_resetare=$1
RewriteRule ^admin/parola-pierduta/([^/]+)$ index.php?acp=1&pagina=parola-pierduta&cod_resetare=$1

RewriteRule ^widget/status_dj/([^/]+)/$ https://www.main.baxandrei.ro/dedicatii-v2/widget/status_dj/$1
RewriteRule ^widget/status_dj/([^/]+)$ https://www.main.baxandrei.ro/dedicatii-v2/widget/status_dj/$1
